body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.page-item.active button {
  font-weight: bold;
}

.page-item.disabled button {
  cursor: not-allowed;
  pointer-events: none;
}

.pagination {
  display: flex;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

header nav > a {
  margin-left: 10px;
}

header a.active {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 60px);
  padding: 10px;
}

footer {
  height: 20px;
  padding: 10px;
}
